{% extends "base.html" %}
{% block title %}Lista de Solicitudes{% endblock %}

{% block content %}

<div class="content-card">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="status status-aprobado" style="padding: 15px; margin-bottom: 20px; text-align: center; font-size: 16px;">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <h2>Lista de Solicitudes de Baja</h2>
    
    <div class="filter-container">
        <div class="filter-group">
            <label for="fecha-desde">Desde:</label>
            <input type="date" id="fecha-desde" name="fecha-desde">
        </div>
        <div class="filter-group">
            <label for="fecha-hasta">Hasta:</label>
            <input type="date" id="fecha-hasta" name="fecha-hasta">
        </div>
        <div class="filter-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado">
                <option value="">Todos</option>
                <option value="pendiente">Registrado</option>
                <option value="aprobado">Aprobado</option>
                <option value="rechazado">Rechazado</option>
            </select>
        </div>
        <button class="filter-button">Filtrar</button>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>N° Solicitud</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>E. Comercial</th> 
                    <th>E. Retención</th>
                    <th>Fecha Solicitud</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sol in solicitudes %}
                <tr>
                    <td>SOL-{{ sol.id }}</td>
                    <td>{{ sol.cliente.razon_social }}</td>
                    
                    <td>
                        <span class="status 
                            {% if sol.estado_actual.nombre_estado == 'Registrado' %}status-pendiente
                            {% elif sol.estado_actual.nombre_estado == 'En Análisis' %}status-proceso
                            {% elif sol.estado_actual.nombre_estado == 'Aprobado' %}status-aprobado
                            {% elif sol.estado_actual.nombre_estado == 'Rechazado' %}status-rechazado
                            {% endif %}">
                            {{ sol.estado_actual.nombre_estado }}
                        </span>
                    </td>
                    
                    <td>{{ sol.usuario_creador.first_name }} {{ sol.usuario_creador.last_name }}</td>
                    
                    <td>{{ sol.ejecutivo.nombre }}</td>
                    
                    <td>{{ sol.fecha_solicitud_baja|date:"d/m/Y" }}</td>
                    
                    <td><a href="{% url 'solicitud_detalle' solicitud_id=sol.id %}" class="action-button">Ver</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" style="text-align: center; padding: 20px;">
                        No hay solicitudes registradas.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}